:root{
    --blue : blue;
    --black : black;
    --red : red;
    --crimson : crimson;
    --green : green;
    --lime : lime;
    --white : white;
    --grey : grey;
    --ccc : #ccc;
    --purple : purple;
    --blueviolet :darkblue;
    --btnHover :rgb(88, 88, 88);
    --orange : orange;
    --orangered : orangered;
    --metteblack : #28282B;
}